POSTGRES_DB=candycorn
POSTGRES_USER=candycorn
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

SERVER_PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/candycorn
DB_USERNAME=candycorn
DB_PASSWORD=change-me
FLYWAY_ENABLED=true
